// Override default variables before the import
$bg-body: red;
$body-color: #111;
$bg-dark:red;
$bg-secondary:red;
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';