/* src/styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  

.intro-content{
text-align: center;
  display: flex;
  justify-content: center;
}

header {
  padding: 20px;
}
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  nav ul li a:hover {
    color: #ccc;
  }


.vertical-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.vertical-item {
  padding: 20px;
  border: 1px solid black;
}
/* Intro */

#IntroBackground {
  background-color: #EAE7DC;
  height: 80vh;
  margin-bottom: 20px; 
  text-align: center;
}
#IntroBackground .intro-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Timeline */
#HomeAboutSection{
  text-align: center;
}

#VerticalTimeline{
  background-color: #8e8d8a;
}

.vertical-timeline-element-date{
  color:var(--bs-gray-900)!important;
}
.vertical-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  background-color: #8e8d8a!important;
  top: 0;
  left: 18px;
  height: 98%;
  width: 4px;
  background: var(--line-color);
}

/* Project Section */
.ProjectSection {
  background-color: #EAE7DC;
  /* height: 65vh; */
  margin-bottom: 20px; 
  padding-bottom: 20px; 
  padding-top: 20px; 
  text-align: center;
}
.ProjectSection .Project-content{
  /* position: absolute; */
  top:40%;
  left: 40%;
  /* display: flex;
  align-items: center;
  justify-content: center;
  background-color: red; */
}

.ProjectSection h1{
margin-bottom: 20px;
}
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.card-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card{
  margin-right: 30px;
  flex-grow: 1;

  margin:  5px; /* Adjust the value to control the horizontal spacing */
  flex-basis: calc(33.33% - 10px); /* Adjust the value to control the card width */
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .card {
    flex-basis: 100%; /* Set the card width to 100% on smaller screens */
  }
}

/* Contact Section*/
.ContactSection {
  /* background-color: #EAE7DC; */
  height: 20vh;
  margin-bottom: 20px; 
  /* text-align: center; */
}
 .Project-content{
  top:40%;
  /* left: 40%; */
}
.Underline {
  width: 200px;
  height: 4px;
  display: flex;
  background-color: #8e8d8a;
}
.ProjectSection h1{
margin-bottom: 20px;
}
