/* src/styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  

.intro-content{
text-align: center;
}

header {
  /* background-color: #8e8d8a; */
  /* background-color: navbarBg; */
  /* color: #fff; */
  padding: 20px;
  /* position: 'sticky'; */
  /* top: 0; */
  /* backgroundColor: navbarBg; */
  /* transition: 'background-color 0.3s ease-in-out'; */
  /* z-index:999 */
}
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  nav ul li a:hover {
    color: #ccc;
  }


.vertical-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.vertical-item {
  padding: 20px;
  border: 1px solid black;
}
/* Intro */

#IntroBackground {
  background-color: #EAE7DC;
  height: 80vh;
  margin-bottom: 20px; 
  text-align: center;
}
#IntroBackground .intro-content{
  position: absolute;
  top:40%;
  left: 40%;
  /* display: flex;
  align-items: center;
  justify-content: center;
  background-color: red; */
}

/* Timeline */
#HomeAboutSection{
  text-align: center;
}

#VerticalTimeline{
  background-color: #8e8d8a;
}

.vertical-timeline-element-date{
  /* this is the vertical line */
  /* color: #8e8d8a!important; */
  color:var(--bs-gray-900)!important;
}
.vertical-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  background-color: #8e8d8a!important;
  top: 0;
  left: 18px;
  height: 98%;
  width: 4px;
  background: var(--line-color);
}

/* Project Section */
.ProjectSection {
  background-color: #EAE7DC;
  height: 80vh;
  margin-bottom: 20px; 
  text-align: center;
}
.ProjectSection .intro-content{
  /* position: absolute; */
  top:40%;
  left: 40%;
  /* display: flex;
  align-items: center;
  justify-content: center;
  background-color: red; */
}


/* Contact Section*/
.ContactSection {
  background-color: #EAE7DC;
  height: 80vh;
  margin-bottom: 20px; 
  text-align: center;
}
.ContactSection .intro-content{
  /* position: absolute; */
  top:40%;
  left: 40%;
  /* display: flex;
  align-items: center;
  justify-content: center;
  background-color: red; */
}